@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  position: relative;
}
.over_wrap{
  width: 100%;
  background: #666;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 50;
}
.over_wrap.open{
  transition: 2s;
  transform: translate(100%);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.over_wrap .center_mk{
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  font-size: 30px;
  font-weight: bold;
  opacity: 0;
  color: #fff;
  transition: 2s;
  transform: translate(0px, -20px);
}

.over_wrap .center_mk.fade_in,.skill.fade_in{
  transform: translate(0px, 0px);
  opacity: 1;
}

header{
  position: fixed;
  width: 100%;
  background: red;
  padding: 10px 0;
  z-index: 30;
}
header .inner{
  display: flex;
  margin-left: 75px;
  justify-content: space-between;
}
header h1{
  color:#fff;
}
nav {
  width: 40%;
}
nav ul{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20px;
}
nav ul li a{
  font-size: 20px;
  color: #FFF;
  display: block;
  width: 33%;
}

main img{
  width: 100%;
  display: block;
}
section{
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.var_hd{
  position: absolute;
  color: #fff;
  font-size: 30px;
  background: red;
  height: 100%;
  width: 75px;
  z-index: 20;
}
.var_hd span{  
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  width: 100%;
}

.box_inner{
  display: flex;
  max-width: 1000px;
  margin: 5% auto;
  justify-content: space-around;
}
section#about .box_inner{
  flex-wrap: wrap-reverse;
}

section#about .text_box{
  max-width: 400px;
  width: 47%;
  margin-right: 3%;
}
section#about .text_box h2{
  margin-bottom: 20px;
}
section#about .text_box .career{
  margin-bottom: 20px;
}
section#about .text_box p{
  font-size: 14px;
}
section#about .text_box > p:last-child{
  margin-top: 20px;
}
section#about .text_box .photo_box{
  width: 50%;
}
.photo_box{
 overflow: hidden;
}
.sec_box{
  margin-left: 75px;
  padding: 50px 0;
  position: relative;
}
.box_wrap{
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.skill{
  border: 1px solid #000;
  width: 280px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 30px;
  overflow: hidden;
  opacity: 0;
  transform: translate(0px, -20px);
  transition: 2s;
}
.box_wrap .skill img{
  display: block;
  margin: 15px auto 30px;
}
.box_wrap .skill:first-child img{
  width: 100px;
}
.box_wrap .skill:nth-child(2) img{
  width: 85px;
  margin: 17px auto 30px;
}
.box_wrap .skill:nth-child(3) img{
  width: 140px;
  margin: 30px auto 24px;
}
.box_wrap .skill .skill_txt{
  text-align: left;
}
#blog {
  height: 400px;
}

.sec_over{
  width: 100%;
  height:100%;
  background: rgba(102, 102, 102, .6);
  background-image: radial-gradient(#444 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
  background-position: 0 0, 1px 20px;
  background-size: 5px 5px;
  position: absolute;
  z-index: 1;
  
}
#blog .sec_over p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right:0;
  width: 400px;
  margin: auto;
  color: #333;
}
#form form > div{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#form label{
  width: 130px;
  display: inline-block;
  vertical-align: top;
  flex-wrap: wrap;
}
#form input[type="text"]{
  width: 400px;
  border: 1px solid #999;
  font-size: 25px;

}
#form textarea {
  border:1px solid #999;
  width: 400px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 30;
}



/* ハンバーガー メニュー */
.ham_btn{
  display: none;
}
.ham_btn.open span{
  transition: .3s;
}
.ham_btn.open span:nth-child(1){
  transform: rotate(405deg) translate(8px ,7px);
}
.ham_btn.open span:nth-child(2){
  opacity: 0;
}
.ham_btn.open span:nth-child(3){
  transform: rotate(-405deg) translate(7px ,-7px);
}
.ham_btn a{
  display: block;
  background:#fff;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 15px;
  box-sizing: border-box;
  padding: 10px 3px;
}
.ham_btn a span{
  display: block;
  background:#000;
  height: 2px;
  margin: 0 auto;
  transition: .3s;
}
.ham_btn a span:nth-child(2){
  margin: 8px 0;
}

@media (max-width: 960px){

}
@media (max-width: 768px){
  header .inner{
    margin-left: 40px;
  }
  nav{
    /* display: none; */
    position: absolute;
    right: calc(-100% + 20px);
    top: 65px;
    width: 50%;
    transition: .5s;
  }
  nav ul{
    display: block;
    background: red;
    border: 1px solid #fff;
  }
  nav ul li a{
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    border-bottom: 1px solid #fff;
  }
  nav ul li:last-child{
    border: none;
  }
  #kv .var_hd{
    display: none;
  }
  .ham_btn{
    display: block;
  }
  .sec_box{
    margin: 0;
    padding: 90px 40px 70px;
  }
  section#about .text_box{
    width: 100%;
  }
  section#about .text_box h2{
    text-align: center;
  }
  .var_hd{
    width: 100%;
    height: 75px;
  }
  .var_hd span{
    transform: rotate(0deg);
    text-align: center;
    top: 17px;
  }
  .box_wrap{
    margin-top: 5%;
  }
  nav.open{
    display: block;
    position: absolute;
    right: -20px;
    transition: .5s;
  }
}


/* mask */
.img_mask{
  overflow: hidden;
  opacity: 0;
}

.isPlay {
  animation-name: play;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  position: relative;
  opacity: 1 !important;
}
.isPlay:before {
  animation-name: maskOut;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #fff;
}
  @keyframes play {
    from {
      transform: translateX(-100%);
    }
    
    to {
      transform: translateX(0);
    }
  }
@keyframes maskOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}